div.activity_image_rollclick {
  position: relative;
  color: white;
  width: 1024px;
  height: 610px;

  div#content {
    position: absolute;
    top: 220px;
    left: 65px;
    width: 200px;
    h1 {
      // color: red;
      font-size: 28px;
      margin-bottom: 1em;
      font-weight: 100;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding-left: 1em;
        text-indent: -1em;
        margin: 0.5em 0;
      }
      li:before {
        content: "• ";
        // color: red; /* or whatever color you prefer */
        margin-right: 0.5em;
      }
    }
    &.image {
      top: 120px;
      width: 250px;
    }
  }

  div#image {
    position: absolute;
    top: 75px;
    left: 344px;
    width: 625px;
    height: 400px;
    &.text, &.textWithImage {
      background: white;
      color: black;
      font-size: 20px;
      p {
        float: left;
        width: 400px;
        padding-top: 20px;
        padding-left: 20px;
        line-height: 1.25em;
        margin: 0;
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
      }
      a.hotspot {
        color: black;
        text-decoration: none;
        font-family: 'MyriadPro-SemiBold';
        font-weight: bold;
        &:hover {
          // color: red;
        }
        &.nonBold {
          font-family: 'MyriadPro-Regular', Arial, sans-serif;
          font-weight: normal;
        }
      }
    }
    &.text {
      height: 360px;
      padding: 1em;
      p {
        width: 605px;
      }
      ul {
        list-style: disc;
        padding: 0;
        margin: 0 0 0 2em;
        li {
          padding-left: 1em;
          text-indent: -1em;
          margin: 0.5em 0;
        }
      }
    }
    &.table {
      background: white;
      color: black;
      table {
        width: 100%;
        height: 100%;
        thead {
          background: red;
          th {
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 0.5em;
            border: 1px solid white;
          }
        }
        tbody {
          tr {
            td {
              vertical-align: middle;
              font-size: 16px;
              padding: 0 0 0 0.75em;
              border: 1px solid black;
            }
          }
        }
      }
      a.hotspot {
        color: black;
        font-style: italic;
        text-decoration: none;
        &:hover {
          // color: red;
        }
      }
    }
  }

  div#hotspot-popup {
    position: absolute;
    display: none;
    width: 365px;
    height: 143px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 30px;
    background: transparent url(../ui/9_Activity_Image_Rollclick/pop_up_window.png) 0 0 no-repeat;
    a#hotspot-close {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 40px;
      height: 40px;
    }
    h1 {
      // color: red;
      margin-bottom: 0.5em;
      font-size: 1.25em;
    }
    p {
      font-size: 14px;
    }
    ul {
      list-style: disc;
      li {
        margin-left: 1em;
      }
    }
  }

  a.hotspot-dynamic {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background: transparent url(../ui/9_Activity_Image_Rollclick/pop_up_no_HL.png) 0 0 no-repeat;
    &:hover {
      background: transparent url(../ui/9_Activity_Image_Rollclick/pop_HL.png) 0 0 no-repeat;
    }
  }

  a.image-hotspot-dynamic {
    position: absolute;
    display: block;
    min-width: 30px;
    padding: 15px 0;
    // min-height: 30px;
    border: 5px solid rgba(132,83,78,0.9);
    border-radius: 30px;
    box-shadow: 1px 1px 3px #333;
    font-size: 13px;
    background: #d3d3d1; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d1 0%, #c8c9c7 50%, #b0b1af 51%, #a7a8a7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d1), color-stop(50%,#c8c9c7), color-stop(51%,#b0b1af), color-stop(100%,#a7a8a7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d1 0%,#c8c9c7 50%,#b0b1af 51%,#a7a8a7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d1 0%,#c8c9c7 50%,#b0b1af 51%,#a7a8a7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d1 0%,#c8c9c7 50%,#b0b1af 51%,#a7a8a7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d3d3d1 0%,#c8c9c7 50%,#b0b1af 51%,#a7a8a7 100%); /* W3C */
    &:hover {
      border-color: rgba(245,159,150,0.8);
      box-shadow: 0px 0px 3px #FFF;
    }
    &.numbered {
      line-height: 30px;
      min-height: 30px;
      text-align: center;
      text-decoration: none;
      color: #000;
      padding: 0;
    }
    &.has_text {
      min-width: 120px;
      width: auto;
      // line-height: 30px;
      text-decoration: none;
      text-align: center;
      color: #000;
      padding: 0.5em;
    }
  }

}

// Subject-specific

html#euro {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/euro-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #FF0000;
    }
    div#content ul li:before {
      color: #FF0000;
    }
    a.hotspot:hover {
      color: #FF0000;
    }
    h1 {
      color: #FF0000;
    }
    div.matching-draggable {
      color: #FF0000;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(132,83,78,0.9);
      &:hover {
        border-color: rgba(245,159,150,0.8);
      }
    }
  }
}

html#chem {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/chem-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #FF0000;
    }
    div#content ul li:before {
      color: #FF0000;
    }
    a.hotspot:hover {
      color: #FF0000;
    }
    h1 {
      color: #FF0000;
    }
    div.matching-draggable {
      color: #FF0000;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(132,83,78,0.9);
      &:hover {
        border-color: rgba(245,159,150,0.8);
      }
    }
  }
}

html#eng {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/eng-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #FF0000;
    }
    div#content ul li:before {
      color: #FF0000;
    }
    a.hotspot:hover {
      color: #FF0000;
    }
    h1 {
      color: #FF0000;
    }
    div.matching-draggable {
      color: #FF0000;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(132,83,78,0.9);
      &:hover {
        border-color: rgba(245,159,150,0.8);
      }
    }
  }
}


html#USGov {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/USGov-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #FF0000;
    }
    div#content ul li:before {
      color: #FF0000;
    }
    a.hotspot:hover {
      color: #FF0000;
    }
    h1 {
      color: #FF0000;
    }
    div.matching-draggable {
      color: #FF0000;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(132,83,78,0.9);
      &:hover {
        border-color: rgba(245,159,150,0.8);
      }
    }
  }
}

html#USH {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/USH-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #FFBA00;
    }
    div#content ul li:before {
      color: #FFBA00;
    }
    a.hotspot:hover {
      color: #FFBA00;
    }
    h1 {
      color: #FFBA00;
    }
    div.matching-draggable {
      color: #FFBA00;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(188, 150, 58, 0.75);
      &:hover {
        border-color: rgba(254, 212, 46,0.8);
      }
    }
  }
}

html#WHIS {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/WHIS-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #AC8EFF;
    }
    div#content ul li:before {
      color: #AC8EFF;
    }
    a.hotspot:hover {
      color: #AC8EFF;
    }
    h1 {
      color: #AC8EFF;
    }
    div.matching-draggable {
      color: #AC8EFF;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(140, 129, 179, 0.9);
      &:hover {
        border-color: rgba(235,235,235,0.8);
      }
    }
  }
}

html#econ {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/econ-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #00A5E6;
    }
    div#content ul li:before {
      color: #00A5E6;
    }
    a.hotspot:hover {
      color: #00A5E6;
    }
    h1 {
      color: #00A5E6;
    }
    div.matching-draggable {
      color: #00A5E6;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(111,150,168,0.9);
      &:hover {
        border-color: rgba(178,198,207,0.8);
      }
    }
  }
}

html#bio {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/bio-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #22e2e2;
    }
    div#content ul li:before {
      color: #22e2e2;
    }
    a.hotspot:hover {
      color: #22e2e2;
    }
    h1 {
      color: #22e2e2;
    }
    div.matching-draggable {
      color: #22e2e2;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(111,150,168,0.9);
      &:hover {
        border-color: rgba(178,198,207,0.8);
      }
    }
  }
}

html#psy {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/psy-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #f7850c;
    }
    div#content ul li:before {
      color: #f7850c;
    }
    a.hotspot:hover {
      color: #f7850c;
    }
    h1 {
      color: #f7850c;
    }
    div.matching-draggable {
      color: #f7850c;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(203,138,86,0.9);
      &:hover {
        border-color: rgba(228,193,167,0.8);
      }
    }
  }
}

html#env {
  div.activity_image_rollclick {
    background: transparent url(../ui/9_Activity_Image_Rollclick/env-popup_bg.png) 0 0 no-repeat;
    div#content h1 {
      color: #92c839;
    }
    div#content ul li:before {
      color: #92c839;
    }
    a.hotspot:hover {
      color: #92c839;
    }
    h1 {
      color: #92c839;
    }
    div.matching-draggable {
      color: #92c839;
    }
    a.image-hotspot-dynamic {
      border: 5px solid rgba(79,94,28,0.9);
      &:hover {
        border-color: rgba(79,94,28,0.8);
      }
    }
  }
}

